<!DOCTYPE html>
    <html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Chenges made page</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>

        Hey a change was made
        <a th:href="@{/new}">
            <button type="button">Make a new post</button>
        </a>
        <a th:href="@{/}">
            <button type="button">Go back home</button>
        </a>
        
    </body>
</html>